html{
    width: 100%;
    height: 100%;
}

body {
    display: table;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    color: #2ca5d3;
}

a, p, span, label, h1, h2, li {
    font-family: Helvetica;
}

header {
    background-color: #1b6d85;
    width: 100%;
}

header .logo {
    padding: 0;
    margin: 0;
    height: 80px;
    width: 95px;
}

header .logo img {
    width: 100%;
    height: 100%;
}

header .menu, .title {
    display: table;
    height: 80px;
}

header .menu ul, .title ul {
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
}

header .menu li {
    float: right;
    list-style: none;
    padding-left: 8%;
}
header .title li {
    float: left;
    list-style: none;
    font-size: 20pt;
    font-weight: bold;
}

main {
    width: 100%;
    min-height: 450px;
}

main li {
    font-size: 14pt;
}

main p {
    padding-top: 2%;
}

main span {
    font-weight: bold;
}

main a {
    color: #1b6d85;
    text-transform: uppercase;
    text-decoration: none;
}

main .red {
    padding-top: 2%;
    padding-bottom: 2%;
}

main .red li {
    margin-top: 2%;
    list-style-type: none;
}

main .contacts {
    padding-top: 2%;
    padding-bottom: 2%;
}

main .contacts li {
    margin-top: 2%;
    list-style-type: none;
}

main .sort{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: right;
}

main .pagin {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

main .task {
    background-color: #9eb9c2;
    margin-bottom: 2%;
    padding: 2%;
    border: 1px solid #1b6d85;
}

main img {
    display: block;
    margin: auto;
    vertical-align: middle;
    max-width: 320px;
    max-height: 240px;
    border: 1px solid #1b6d85;
}

main .createtask {
    margin-top: 7%;
    margin-bottom: 7%;
}

main .createtask li{
    margin-top: 2%;
    list-style-type: none;
}

main .loginu {
    margin-top: 7%;
    margin-bottom: 7%;
}

main .loginu li{
    margin-top: 2%;
    list-style-type: none;
}

footer {
    background-color: #1b6d85;
    display: table-row;
    height: 0%;
}

footer .info {
    padding-bottom: 3%;
    padding-top: 3%;
}

footer .contact {
    text-align: right;
}